@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lw47t5');
  src:  url('fonts/icomoon.eot?lw47t5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lw47t5') format('truetype'),
    url('fonts/icomoon.woff?lw47t5') format('woff'),
    url('fonts/icomoon.svg?lw47t5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    font: normal normal normal 1.6rem/1 "icomoon", sans-serif;
    font-size: inherit;
    text-rendering: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e993";
}
.icon-disselect:before {
  content: "\e991";
}
.icon-message:before {
  content: "\e95e";
}
.icon-soldout:before {
  content: "\e95f";
}
.icon-car32:before {
  content: "\e98d";
}
.icon-car3checked:before {
  content: "\e98e";
}
.icon-qq:before {
  content: "\e946";
}
.icon-jia:before {
  content: "\e945";
}
.icon-weibo:before {
  content: "\e944";
}
.icon-fc:before {
  content: "\e943";
}
.icon-wx:before {
  content: "\e942";
}
.icon-clear:before {
  content: "\e987";
}
.icon-content:before {
  content: "\e986";
}
.icon-gb:before {
  content: "\e984";
}
.icon-pptm:before {
  content: "\e985";
}
.icon-shopping:before {
  content: "\e983";
}
.icon-service:before {
  content: "\e982";
}
.icon-buyshow:before {
  content: "\e95c";
}
.icon-byshowchecked:before {
  content: "\e95d";
}
.icon-category1checked:before {
  content: "\e960";
}
.icon-category1:before {
  content: "\e961";
}
.icon-xihuan:before {
  content: "\e95b";
}
.icon-photo:before {
  content: "\e95a";
}
.icon-dingbu:before {
  content: "\e958";
}
.icon-xianshi:before {
  content: "\e959";
}
.icon-bottom:before {
  content: "\e91c";
}
.icon-top:before {
  content: "\e91f";
}
.icon-imgflash:before {
  content: "\e957";
}
.icon-nochoice:before {
  content: "\e952";
}
.icon-choice:before {
  content: "\e953";
}
.icon-hide:before {
  content: "\e951";
}
.icon-false:before {
  content: "\e94f";
}
.icon-time:before {
  content: "\e94e";
}
.icon-add:before {
  content: "\e949";
}
.icon-redu:before {
  content: "\e94b";
}
.icon-weizhi:before {
  content: "\e935";
}
.icon-xuanze1:before {
  content: "\e936";
}
.icon-logic:before {
  content: "\e934";
}
.icon-nochose:before {
  content: "\e955";
}
.icon-edit:before {
  content: "\e937";
}
.icon-chose:before {
  content: "\e938";
}
.icon-del:before {
  content: "\e92d";
}
.icon-delist:before {
  content: "\e92e";
}
.icon-jine:before {
  content: "\e92f";
}
.icon-shangdian:before {
  content: "\e930";
}
.icon-nopay2:before {
  content: "\e931";
}
.icon-order:before {
  content: "\e932";
}
.icon-reducis:before {
  content: "\e933";
}
.icon-weixin:before {
  content: "\e90b";
}
.icon-xuanze:before {
  content: "\e924";
}
.icon-juan:before {
  content: "\e927";
}
.icon-money:before {
  content: "\e928";
}
.icon-tuihuo:before {
  content: "\e929";
}
.icon-star1:before {
  content: "\e92a";
}
.icon-news:before {
  content: "\e92b";
}
.icon-left:before {
  content: "\e923";
}
.icon-selected:before {
  content: "\e91e";
}
.icon-car3:before {
  content: "\e91d";
}
.icon-bread:before {
  content: "\e919";
}
.icon-left1:before {
  content: "\e91a";
}
.icon-shaixuan:before {
  content: "\e91b";
}
.icon-brand:before {
  content: "\e917";
}
.icon-xg:before {
  content: "\e916";
}
.icon-main:before {
  content: "\e90d";
}
.icon-gd:before {
  content: "\e918";
}
.icon-hot:before {
  content: "\e90e";
}
.icon-ny:before {
  content: "\e910";
}
.icon-nz:before {
  content: "\e911";
}
.icon-ps:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-tz:before {
  content: "\e914";
}
.icon-xb:before {
  content: "\e915";
}
.icon-right:before {
  content: "\e90f";
}
.icon-notice:before {
  content: "\e90a";
}
.icon-car1_active:before {
  content: "\e907";
}
.icon-category_active:before {
  content: "\e908";
}
.icon-home_active:before {
  content: "\e909";
}
.icon-car1:before {
  content: "\e902";
}
.icon-category:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-personal:before {
  content: "\e905";
}
.icon-car:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-dustbin:before {
  content: "\e90c";
}
.icon-capital:before {
  content: "\e922";
}
.icon-bank:before {
  content: "\e920";
}
.icon-bright:before {
  content: "\e921";
}
.icon-fen:before {
  content: "\e906";
}
.icon-nopay:before {
  content: "\e939";
}
.icon-nosend .path1:before {
  content: "\e93a";
  color: rgb(39, 38, 54);
}
.icon-nosend .path2:before {
  content: "\e93b";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-nosend .path3:before {
  content: "\e93c";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-noremark:before {
  content: "\e93d";
}
.icon-nocome .path1:before {
  content: "\e93e";
  color: rgb(39, 38, 54);
}
.icon-nocome .path2:before {
  content: "\e93f";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-nocome .path3:before {
  content: "\e940";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-ewm:before {
  content: "\e941";
}
.icon-qq2:before {
  content: "\e92c";
}
.icon-wb:before {
  content: "\e926";
}
.icon-xl:before {
  content: "\e925";
}
.icon-perchose:before {
  content: "\e947";
}
.icon-newo:before {
  content: "\e94a";
}
.icon-pin:before {
  content: "\e948";
}
.icon-caiwu:before {
  content: "\e94c";
}
.icon-dingdanxinxi:before {
  content: "\e94d";
}
.icon-wuliu:before {
  content: "\e950";
}
.icon-xiaoxi:before {
  content: "\e954";
}
.icon-delcart:before {
  content: "\e956";
}
.icon-zhifubao:before {
  content: "\e962";
}
.icon-eyes:before {
  content: "\e963";
}
.icon-fenleisousuo:before {
  content: "\e964";
}
.icon-noselect:before {
  content: "\e965";
}
.icon-select:before {
  content: "\e966";
}
.icon-ren .path1:before {
  content: "\e967";
  color: rgb(204, 204, 204);
}
.icon-ren .path2:before {
  content: "\e96f";
  margin-left: -1.22265625em;
  color: rgb(82, 81, 94);
}
.icon-ren .path3:before {
  content: "\e970";
  margin-left: -1.22265625em;
  color: rgb(82, 81, 94);
}
.icon-xiang .path1:before {
  content: "\e968";
  color: rgb(204, 204, 204);
}
.icon-xiang .path2:before {
  content: "\e971";
  margin-left: -0.810546875em;
  color: rgb(82, 81, 94);
}
.icon-xiang .path3:before {
  content: "\e972";
  margin-left: -0.810546875em;
  color: rgb(82, 81, 94);
}
.icon-return:before {
  content: "\e969";
}
.icon-repalce .path1:before {
  content: "\e96a";
  color: rgb(204, 204, 204);
}
.icon-repalce .path2:before {
  content: "\e973";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path3:before {
  content: "\e974";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path4:before {
  content: "\e975";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path5:before {
  content: "\e976";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path6:before {
  content: "\e977";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path7:before {
  content: "\e978";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-repalce .path8:before {
  content: "\e979";
  margin-left: -1.4296875em;
  color: rgb(39, 38, 54);
}
.icon-order2 .path1:before {
  content: "\e96b";
  color: rgb(204, 204, 204);
}
.icon-order2 .path2:before {
  content: "\e97a";
  margin-left: -0.875em;
  color: rgb(39, 38, 54);
}
.icon-cou .path1:before {
  content: "\e96c";
  color: rgb(39, 38, 54);
}
.icon-cou .path2:before {
  content: "\e97b";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path3:before {
  content: "\e97c";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path4:before {
  content: "\e97d";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path5:before {
  content: "\e97e";
  margin-left: -1.1162109375em;
  color: rgb(39, 38, 54);
}
.icon-cou .path6:before {
  content: "\e97f";
  margin-left: -1.1162109375em;
  color: rgb(204, 204, 204);
}
.icon-history .path1:before {
  content: "\e96d";
  color: rgb(204, 204, 204);
}
.icon-history .path2:before {
  content: "\e980";
  margin-left: -0.8330078125em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path1:before {
  content: "\e96e";
  color: rgb(204, 204, 204);
}
.icon-reduce .path2:before {
  content: "\e981";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path3:before {
  content: "\e988";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path4:before {
  content: "\e989";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path5:before {
  content: "\e98a";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path6:before {
  content: "\e98b";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-reduce .path7:before {
  content: "\e98c";
  margin-left: -1.0322265625em;
  color: rgb(39, 38, 54);
}
.icon-del2 .path1:before {
  content: "\e98f";
  color: rgb(255, 255, 255);
}
.icon-del2 .path2:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(247, 0, 21);
}
.icon-tag:before {
  content: "\e992";
}

